span.pagelinks {
	background-color: #eee;
	border: 1px dotted #199;
	padding: 2px 4px 2px 4px;
	width: 100%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}

tr.odd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}

tr.tableRowEven,tr.even {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #E0ECF8
}

th.sorted {
	background-color: orange;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../image/arrow_off.png);
    background-repeat: no-repeat;
}

th.order1 a {
	background-image: url(../image/arrow_down.png);
    background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../image/arrow_up.png);
    background-repeat: no-repeat;
}

